body{
    // max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;

    //네비게이션
    header{
        width: 100%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        // margin-bottom: 50px;

        .home-logo-k{
            width: 70px;
            height: 70px;
            margin-left: 150px;
            position: absolute;
            left: 0;
        }
        
        .menu-toggle{
            display: none;
            width: 30px;
            height: 30px;
            position: fixed;
            right: 30px;
            top: 30px;
            border: none;
            cursor: pointer;
            z-index: 11;
        }

        .menu-toggle.open {background-image: url(../img/icon/menu-w.svg);}

        ul{
            display: flex;
            li{
                a{
                    display: block;
                    margin: 0 20px;
                }
                a:hover{color: #31ceee;}
            }
        }

    } //header

    .home-container{
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
        .sec-1{
            margin-bottom: 100px;

            // .slider-container{
            //     margin: 0 150px;
            //     .home-slider{
            //         // border: 1px solid red;
            //         width: 100%;
            //         padding-top: 50%;
            //         background: url(../src/home/slider/thum-1.png) no-repeat center center/cover;
            //     }
            // }
        }

        .margin-container{
            margin: 0 150px;
            // border: 1px solid blue;

            .sec-2{
                margin-bottom: 150px;
                h1{
                    margin-bottom: 40px;
                    font-size: 36px;
                    color: #333;
                }
                .card-container{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    align-items: center;
                        .card-item{
                            width: 25%;
                            max-width: 350px;
                            height: 400px;
                            border: 1px solid #e6e6e6;
                            margin-bottom: 50px;
                            transition: all 0.5s;
                                .card-text{
                                    height: 100px;
                                    padding: 20px;
                                    p{
                                        font-size: 18px;
                                        color: #333;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        margin-bottom: 10px;
                                    }
                                    span{
                                        font-size: 12px;
                                        color: #4d4d4d;
                                    }
                                }
                                .card-img{width: 100%; height: 300px;}
                                .card-img-1{background: url(../img/home/card/card-1.png) no-repeat center center/cover;}
                                .card-img-2{background: url(../img/home/card/card-2.jpg) no-repeat right center/cover;}
                                .card-img-3{background: url(../img/home/card/card-3.jpeg) no-repeat center center/cover;}
                                .card-img-4{background: url(../img/home/card/card-4.jpg) no-repeat center center/cover;}
                        }
                        .card-item:hover{
                            transform: translateY(-30px);
                            box-shadow: 0 10px 10px rgba(0,0,0,0.3);
                        }
                }
            }

            .sec-3{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                    .text-container{
                        h1{
                            font-size: 80px;
                            color: #81d9eb;
                            margin-bottom: 50px;
                        }
                        p{
                            font-size: 24px;
                            line-height: 30px;
                            color: #333;
                            margin-bottom: 10px;
                        }
                    }
                    .mask-logo{
                        max-width: 545px;
                        height: 727px;
                        position: relative;
                            video{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                -webkit-mask-image: url('../img/logo/logo-w.svg');
                                -webkit-mask-size: cover;
                                -webkit-mask-repeat: no-repeat;
                                -webkit-mask-position: center;
                            }
                    }
            }

        } //margin-container
    } // home-container

    footer{
        width: 100%;
        height: 400px;
        background-color: #81d9eb;
        .ft-wrap{
            max-width: 1620px; // <----------------------------- 미디어쿼리
            width: 100%;
            margin: 0 auto;
            // border: 2px solid red; box-sizing: border-box;
            position: relative;
            .top-btn{
                position: absolute;
                top: 30px;
                right: 30px;
                width: 35px;
                height: 35px;
                background: url(../img/icon/top-btn.svg);
            }
            .ft-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-top: 100px; // <----------------------------- 미디어쿼리
                .ft-left{
                    // border: 1px solid blue;
                    .ft-icon{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 20px;
                        li{
                            a{
                                span{
                                    display: block;
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    } //ft-icon
                    p{
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                    span{
                        display: block;
                        font-size: 16px;
                        color: #575757;
                        margin-bottom: 20px;
                    }
                } //ft-left
                .ft-right{
                    // border: 1px solid yellow;
                    width: 774px;
                    height: 125px;
                    .ft-logo{
                        width: 100%; // <----------------------------- 미디어쿼리
                        height: 100%; // <----------------------------- 미디어쿼리
                    }
                } //ft-right
            } //ft-container
            .copy{
                width: 100%;
                font-size: 16px;
                margin-top: 20px;
                padding-top: 45px;
                border-top: 1px solid white;
            } //copy
        } //ft-wrap
    } //footer
} //body


// 이미지삽입
.logo-b-trans{background: url(../img/logo/logo-b-trans.svg) no-repeat center center/cover;}
.logo-w{background: url(../img/logo/logo-w.svg) no-repeat right center/cover;}
.logo-k{background: url(../img/logo/logo-k.svg) no-repeat center center/cover;}
.logo-long-w{background: url(../img/logo/logo-long-w.svg) no-repeat center center/contain;}
.menu{background: url(../img/icon/menu.svg) no-repeat center center / cover;}

.instagram{background: url(../img/icon/instagram-w.svg) no-repeat center center/cover;}
.youtube{background: url(../img/icon/youtube-w.svg) no-repeat center center/cover;}
.x{background: url(../img/icon/x-out-w.svg) no-repeat center center/cover;}
.facebook{background: url(../img/icon/facebook-w.svg) no-repeat center center/cover;}
.store{background: url(../img/icon/store-w.svg) no-repeat center center/cover;}

.instagram:hover{background: url(../img/icon/instagram-b.svg) no-repeat center center/cover;}
.youtube:hover{background: url(../img/icon/youtube-b.svg) no-repeat center center/cover;}
.x:hover{background: url(../img/icon/x-out-b.svg) no-repeat center center/cover;}
.facebook:hover{background: url(../img/icon/facebook-b.svg) no-repeat center center/cover;}
.store:hover{background: url(../img/icon/store-b.svg) no-repeat center center/cover;}


//미디어쿼리
/*
미디어쿼리 줘야 할 것
- 섹션3 굿뮤직 어쩌구 폰트사이즈
- 로고마스크 크기 퍼센테이지로 줄이거나 어떻게든 해야 함
- 섹션3 좋은사람들과 어쩌고 문구 사이즈 조절
- 햄버거메뉴 누르면 흰색으로 바뀌게 하기
*/

// 모바일(
@media screen and (max-width: 767px){
    body{
        max-width: 767px;
        header{
            margin-bottom: 0px;
            .home-logo-k{display: none;}
            .menu-toggle{display: block;}
            
            .home-nav-bar{
                position: fixed;
                top: 0;
                right: -100%;
                width: 70%;
                height: 100vh;
                background-color: rgba(49, 206, 238, 0.9);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 20px;
                transition: right 0.3s ease;
                z-index: 10;

            li{
                margin: 20px 0;
                a {
                    font-size: 16px;
                    color: white;
                }
                a:hover{color: white;}
            }

            &.active {right: 0;}
            }
        } //header

        .home-container{
            .sec-1{
                .slider-container{
                    margin: 0;
                }
            }
            .margin-container{
                margin: 0;
                .sec-2{
                    h1{text-align: center;}
                    .card-container{
                        display: flex;
                        flex-wrap: wrap;
                        .card-item{
                            width: 350px;
                        }
                    }
                }
                .sec-3{
                    display: block;
                    .text-container{
                        margin: 0 !important;
                        h1{
                            font-size: 35px;
                            margin-bottom: 20px;
                            text-align: center;
                        }
                        p{
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                    .mask-logo{
                        width: 100vw;
                        max-width: 100vw;
                        video{
                            -webkit-mask-image: none;
                            -webkit-mask-size: none;
                            -webkit-mask-repeat: none;
                            -webkit-mask-position: none;
                        }
                    }
                }
            }
        } //home-container
        footer{
            .ft-wrap{
                max-width: none;
                padding: 0 20px;
                .ft-container{
                    padding-top: 30px;
                    .ft-right{
                        .ft-logo{
                            width: 80%;
                            height: 80%;
                        }
                    }
                } //ft-container
                .copy{
                    margin-top: 0;
                    padding-top: 25px;
                }
            } //ft-wrap
        } //footer
    } //body
}



// 태블릿(미니,에어)
@media screen and (min-width:768px) and (max-width: 1080px){
    body{
        .home-container{
            .sec-1{
                .slider-container{
                    margin: 0;
                }
            }
            .margin-container{
                margin: 0;
                .sec-2{
                    h1{
                        text-align: center;
                    }
                    .card-container{
                        display: flex;
                        flex-wrap: wrap;
                        .card-item{
                            width: 350px;
                        }
                    }
                }
                .sec-3{
                    .text-container{
                        width: 100%;
                        margin: 0 auto;
                        h1{
                            font-size: 55px;
                            margin-bottom: 30px;
                            text-align: center;
                        }
                        p{
                            font-size: 20px;
                            text-align: center;
                            margin-bottom: 10px;
                        }
                    }
                    .mask-logo{
                        max-width: 100vw;
                        width: 100vw;
                        video{
                            -webkit-mask-image: none;
                            -webkit-mask-size: none;
                            -webkit-mask-repeat: none;
                            -webkit-mask-position: none;
                        }
                    }
                }
            } //margin-container
        } //home-container
        footer{
            .ft-wrap{
                max-width: none;
                padding: 0 20px;
                .ft-container{
                    padding-top: 30px;
                    .ft-right{
                        .ft-logo{
                            width: 80%;
                            height: 80%;
                        }
                    }
                } //ft-container
                .copy{
                    margin-top: 0;
                    padding-top: 25px;
                }
            } //ft-wrap
        } //footer
    } //body
}



//logo-k
@media screen and (max-width: 950px){
    body{
        header{
            .home-logo-k{display: none;}
            
        }
    }
}


//logo-w
@media screen and (max-width: 1515px){
    body{
        .home-container{
            .margin-container{
                margin: 0;
                .sec-3{
                    .text-container{margin: 0 150px;}
                    .mask-logo{
                        max-width: 100vw;
                        width: 100vw;
                        video{
                            width: 100%;
                            // height: auto;
                            object-fit: cover;
                            -webkit-mask-image: none;
                            -webkit-mask-size: none;
                            -webkit-mask-repeat: none;
                            -webkit-mask-position: none;
                        }
                    }
                }
            }
        }
    }
}