//컬러코드 지정  사용예시 -> color: var(--name);
:root {
  --movei: #ea8c8c;
  --radio: #74e577;
  --media: #f2ee79;
  --music: #81d9eb;
}
.movie{background-color: var(--movie);} //circle-icon 색상
.radio{background-color: var(--radio);}
.media{background-color: var(--media);}
.music{background-color: var(--music);}

body{
    .cal_wrap{
        padding: 0 150px;
        margin-bottom: 100px;
        .cal-toolbar{
            height: 100px;
            box-sizing: border-box;
            position: relative;
            .cal-btn{
                width: 400px;
                height: 100px;          
                margin: 0 auto;
                display: flex;
                justify-content: center;
                .cal-month{font-size: 32px; line-height: 100px;}
                .monthbtn{margin: 0 10px;}
            }
            .cal-dropdown{
                position: absolute;
                right: 5%;
                top: -65px;
            }
        }
        .calendar{
            max-width: 1610px;//w: 230px * 7일
            height: 100%;
            margin: 0 auto;
            .cal-h50{
                width: 100%;
                height: 50px;
                >td{ //요일 css
                    width: 230px;
                    height: 50px !important;
                    padding-left: 18px;
                    font-size: 20px;
                    color: #333333;
                }
            }
            tbody{
                tr{
                    td{
                    width: 230px;
                    height: 210px;
                    padding: 0;
                    position: relative;
                        .day-number {
                        position: absolute;
                        top: 10px; //20px
                        left: 18px; //20px
                        font-size: 20px;
                        color: #4d4d4d;
                        font-family: 'KakaoBigSans-ExtraBold' !important;
                        }
                        .day-content {
                        position: absolute;
                        width: 100%;
                        top: 50px;
                        padding: 0 10px;
                            .day-detail{
                                position: absolute;
                                border: #333333 2px solid;
                                background-color: white;
                                padding: 10px;
                                width: 300px;
                                left: 40px;
                                display: none; 
                                z-index: 999 !important;
                            }
                            .day-detail-left{
                                left: -150px !important;
                            }
                            .day-text:hover + .day-detail { display: block;} 
                        }
                    }
                }
            }
        }
    }
}
td{
    border: 1px solid #bdbdbd;
}
.sunday{border-left: none !important;}
.saturday{border-right: none !important;}
.circle-icon{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.red-text{ color: rgb(255, 54, 54) !important; }
.opa-text{
    opacity: 0.4;
}
// .widthdouble{
//     display: block;
//     width: 450px; // 230px * 2
//     background: var(--radio);
//     position: relative;
//     z-index: 1;
// }



//미디어쿼리
/* PC */
@media (min-width: 901px) {

}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 900px) {
    body{
        .cal_wrap{
        padding: 0 50px !important;
            .cal-toolbar{
                .cal-btn{
                    width: 300px;
                    height: 100px;
                    margin-left: 0;
                    transition: all 0.3s;
                    
                }
            }
        }
    }
}

/* 모바일 */
@media (max-width: 767px) {
    body{
        .cal_wrap{
        padding: 0 20px !important;
            .cal-toolbar{
                .cal-btn{             
                    width: 300px;
                    height: 80px;
                    position: absolute;
                    top: 15px;
                    left: -40px;
                    transition: all 0.3s;
                    .cal-month{
                        line-height: 80px;
                        font-size: 24px !important;
                    }
                }
                .cal_dropdown{top: 100% !important;}
            }
        }
    }
}